# Frontend ignored files
node_modules/
**/frontend/build/

# WebApp ignored files

# Logic ignored files

# Java ignored files
.gradle
build
gradle*

# .Net ignored files
bin/
obj/
out/

# IDE ignored files
.idea/

.DS_Store